.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.carousel-title1 {
    margin-left: -650px;
}

.carousel-title2 {
    margin-left: -675px;
}
