.cart-icon {
    transform: scale(1.8);
    margin-right: 10px;
    cursor: pointer;
}

.cart-icon-notif {
    margin-right: 10px;
    cursor: pointer;
}

.cart-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon-wrapper:hover {
    transform: scale(1.2);
}
